<div style="padding: 15px;">
  <h2>Token Creation</h2>
  <form [formGroup]="taskCreationForm" (ngSubmit)="onSubmit()">

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Main Type</label>
      <div class="col-sm-10">
        <mat-radio-group formControlName="mainType">
          <mat-radio-button value="1">Claim</mat-radio-button>
          <mat-radio-button value="2">UW</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Proposal No.</label>
      <div class="col-sm-10">
        <!-- <label for="" class="col-sm-2" style="padding: 0 !important;">{{proNo}}</label> -->
        <input type="text" class="form-control" formControlName="proposalNumber">
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Customer Name</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="cname" placeholder="Customer Name">
      </div>
    </div>



    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Customer NIC</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" formControlName="cusIDNo" placeholder="Customer NIC">
      </div>
    </div>


    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Date & Time</label>
      <div class="col-sm-10">
        <input [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="appointDate" placeholder="Date Time"
          hour12Timer="true" class="form-control" aria-describedby="inputGroup-sizing-sm">
        <owl-date-time #dt2></owl-date-time>
      </div>

    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Lab Category</label>
      <div class="col-sm-10">
        <select class="custom-select " (change)="onHospitalSelect($event)" formControlName="lab">
          <option *ngFor="let hos of hospitalList$ | async" [value]="hos.id">{{hos.name}}</option>
        </select>
      </div>
    </div>


    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Lab</label>
      <div class="col-sm-10">
        <select class="custom-select " formControlName="lab">
          <option *ngFor="let lab of labList" [value]="lab.id">{{lab.labName}}</option>

        </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Medical Reports</label>
      <div class="col-sm-10">
        <ng-multiselect-dropdown [placeholder]="''" [data]="mediReportList$ | async" [settings]="dropdownSettings"
          formControlName="mediReports">
        </ng-multiselect-dropdown>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Comment</label>
      <div class="col-sm-10">
          <textarea formControlName="contactFormMessage" formControlName="comment" class="form-control rounded-0"  
          rows="3" placeholder="Comment"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label">Remarks</label>
      <div class="col-sm-10">
          <textarea formControlName="contactFormMessage" formControlName="remarks" class="form-control rounded-0"  
          rows="3" placeholder="Remarks"></textarea>
      </div>
    </div>


    <div class="form-group row">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary float-right">Save</button>
      </div>
    </div>




  </form>
</div>