<!-- <div class="row" style="width: 100%; margin: 0 !important; padding: 5px;"> -->
  <!-- <div
    class="card card-cascade narrower mt-2 col-12"
  >
    <div class="card-body" style="text-align: center;">
    </div>
  </div> -->

  <!-- <div
    class="card card-cascade narrower mt-5 col"
    style="margin: 10px !important;min-width: 300px;max-width: 350px;"
    *ngFor="let item of taskList1"
    routerLink="{{ item.path }}"
  >
    <div class="card-body" style="text-align: center;">
      <i class="fas fa-bolt"></i> <br />
      {{ item.task }}
    </div>
  </div> -->
  <!-- <div class="column-2 px-2 mb-r" *ngFor="let item of taskList1">
  <div class="card"    style="margin-top: 5px;" [style.background-color]="item.color" routerLink="{{ item.path }}">
    <a > -->
    <!--Card image-->
    <!-- <div class="view">
      <img src="/assets/images/roll_imgs/{{item.img}}"  class="card-img-top"  alt="photo">
     
      <a >
        <div class="mask rgba-white-slight"></div>
      </a>
      
    </div> -->

    <!--Card content-->
    <!-- <div class="card-body text-center"> -->
      <!--Title-->
      <!-- <h4 class="card-title white-text">{{ item.task }}</h4> -->
      <!--Text-->
      <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas.</p>
      <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
    <!-- </div>
  </a>
  </div>
</div>

  <div class="column-2 px-2 mb-r">
  <div class="card" style=" background-color:#FF8800; margin-top: 5px;" *ngIf="taskList1.length==1" >
    <a> -->
    <!--Card image-->
    <!-- <div class="view">
      <img src="/assets/images/roll_imgs/rawpixel-487102-unsplash.jpg"   class="card-img-top" alt="photo">
     
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
      
    </div> -->

    <!--Card content-->
    <!-- <div class="card-body text-center"> -->
      <!--Title-->
      <!-- <h4 class="card-title white-text">_</h4> -->
      <!--Text-->
      <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas.</p>
      <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
    <!-- </div>
  </a>
  </div>
</div>
  <div class="column-2 px-2 mb-r">
  <div class="card"  style=" background-color:#00695c; margin-top: 5px;" *ngIf="taskList1.length==1 || taskList1.length==2">
    <a> -->
    <!--Card image-->
    <!-- <div class="view">
      <img src="/assets/images/roll_imgs/rawpixel-752508-unsplash.jpg"  class="card-img-top" alt="photo">
     
      <a >
        <div class="mask rgba-white-slight"></div>
      </a>
      
    </div> -->

    <!--Card content-->
    <!-- <div class="card-body text-center"> -->
      <!--Title-->
      <!-- <h4 class="card-title white-text">_</h4> -->
      <!--Text-->
      <!-- <p class="card-text white-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
        Nemo enim ipsam voluptatem quia voluptas.</p>
      <a href="#" class="btn btn-outline-white btn-md">Button</a> -->
    <!-- </div>
  </a>
  </div>
</div>

</div> -->
<!-- Dash Board -->
<!-- <p  *ngIf="(cookieService.get('lng') === 'eng')">xxxxxxxxx</p>
<p *ngIf="(cookieService.get('lng') === 'itl')">yyyyyyyyyyy</p> -->